 
<%= content_tag :div, id: "prices"  do %>
<% end %>

<!--  <div id="prices"></div> -->
<h1>Редактор категорий:</h1>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% if user_signed_in? %>
      <section>
        <div id="telpanel">
        </div>
      </section>
    <% end %>
    <% @teams.each do |team| %>
      <tr data-item_id="<%= team.id %>">
        <td><%= team.name %></td>
        <!-- <td><%= link_to 'Посмотреть', team %></td> -->
        <td><%= link_to 'Редактировать', edit_team_path(team) %></td>
<!--         <td><span class="deleteAction">Удалить</span></td> -->
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Создать категорию', new_team_path %>