<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>
<table>
	<% @team.players.each do |player| %>
		<tr>
			<td>
				<%= player.name %>
			</td>
			<td>
				<%= player.graph %>
			</td>
			<td>
				<%= player.group %>
			</td>
			<td>
				<%= player.ind %>
			</td>
		</tr>	
<% end %>
</table>


<hr />

<%= link_to 'Редактировать', edit_team_path(@team) %> |
<%= link_to 'Назад', teams_path %>
