
<%= simple_form_for(@slider) do |f| %>
  <%= f.error_notification %>
  <% if @slider.slide? %>
    <div  style="background-image: url('<%= @slider.slide.thumb.url %>');" class="slidepic"></div>
  <% end %>

  <div>
    <% unless @slider.slide? %>
      <h5>Картинка слайда:</h5>
      <%= f.file_field :slide, :class => "button" %>
      <%= f.hidden_field :slide_cache %> 
    <% end %>
    <h5>Заголовок слайда:</h5>
    <div>
       <%= f.input :caption1 , as: :text, label: false, :input_html => { :cols => 40, :rows => 3 } %>
    </div>
    <h5>Текст слайда:</h5>
    <div>
       <%= f.input :caption2 , as: :text, label: false, :input_html => { :cols => 40, :rows => 7 }  %>
    </div>
      <h5>Cсылка:</h5>
    <div>
       <%= f.input :ssilka, as: :text, label: false, :input_html => { :cols => 60, :rows => 2 }  %>
    </div>
  </div>  
  <div class="form-actions">
    <%= f.submit "Сохранить",  :class => "button" %>
  </div>
<% end %>
