<%= form_for @programm do |f| %>  
<div>Для взрослых
	<%= f.radio_button :cat, "1", :checked => true %>
<%# = f.label :cat,  "Для взрослых" %>&nbsp;&nbsp;&nbsp;&nbsp;
Для детей
<%= f.radio_button :cat, "2"  %>
<%# = f.label :cat,  "Для детей" %><br>
</div>

	 
	Название: <%= f.text_field :name %><br><br>
	Редактор публикации:
  <%= f.cktext_area :desc, cols: 40, rows: 10 %> 
  <%= f.submit "Сохранить" %>
<% end %>
