<p id="notice"><%= notice %></p>

<h1>Programms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @programms.each do |programm| %>
      <tr>
        <td><%= programm.name %></td>
        <td><%= programm.desc %></td>
        <td><%= link_to 'Show', programm %></td>
        <td><%= link_to 'Edit', edit_programm_path(programm) %></td>
        <td><%= link_to 'Destroy', programm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Programm', new_programm_path %>
