<p id="notice"><%= notice %></p>
<p>
	Название:
	<%= @programm.name %>
</p> 
 <%= @programm.cat %><br>
Описание:
<%= @programm.desc.html_safe %>
<hr />

<%= link_to 'Редактировать', edit_programm_path(@programm) %> |
<%= link_to 'Назад', programms_path %>

 

 