
<% if @employee.avatar.url == nil %>
  
<% end %>
 
<%= form_for @employee do |f| %>  
  <div style="float: left; padding-top: 1em;">
    <h5>Как зовут сотрудника:</h5>
    <p style= "text-indent: 0em;">
      <%= f.text_field :name  %> 
    </p>
    <% if @employee.avatar? %>
      <div style="background-image: url(' <%= root_url[0...-1] +  employee.avatar.tiny.url %>'); height:250px; width:225px;  ">
      </div>
    <% end %>
   
    <% unless @employee.avatar? %>
      <div style=" display: flex; justify-content: center; flex-direction: column; text-align: center; height:250px; width:225px; background: #999;">

        <div style=" background: #fff; padding-bottom: 0.5em; ">
          Загрузите фото сотрудника
          <%= f.file_field :avatar %>
          <%= f.hidden_field :avatar_cache %> 
        </div>
          
      </div>

    <% end %>
     
  </div>
<br>
  <div style="padding:1em 0 0 250px;">
    <h5>Специальность:</h5>
    <%= f.text_area :prof %> 
  </div>
  <div style="padding:1em 0 0 250px;">
    <h5>Деятельность:</h5>
    <%= f.cktext_area :spec, ckeditor: {toolbar: 'micro', height: 100  } %> 
  </div>
  
  <div style="clear: both; padding-top: 0.1em;">
    <h5>Основная информация:</h5>
    <%= f.cktext_area :desc   %> 
    <%= f.submit "Сохранить", :class => "button" %> 
  </div>
<% end %>


<!--  
  <% if @employee.avatar? %>
    <%= content_tag :div,
      id: "employee-form",
      data: {
        id: employee.id,
     
        employee: employee.to_json(except: [:created_at, :updated_at])
      } do %>
    <% end %>
  <% end %> -->

 

