<h2>Регистрация</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
 <!--  <%= f.error_notification %>
 -->
  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true, label: "Емайл" %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} знаков минимум" if @minimum_password_length), label: "Пароль" %>
    <%= f.input :password_confirmation, required: true, label: "Пароль", placeholder: "введите еще раз" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Зарегестрироваться" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
