<p id="notice"><%= notice %></p>

<h1>Resizeimages</h1>

<table>
  <thead>
    <tr>
      <th>File</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resizeimages.each do |resizeimage| %>
      <tr>
        <td><%= resizeimage.file %></td>
        <td><%= link_to 'Show', resizeimage %></td>
        <td><%= link_to 'Edit', edit_resizeimage_path(resizeimage) %></td>
        <td><%= link_to 'Destroy', resizeimage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resizeimage', new_resizeimage_path %>
