
<%= simple_form_for(@library) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name, label: "Название:"%>
    <%= f.input :katbib2_id, :collection => Katbib2.all   %> 
    <%= f.input :cover, label: "Обложка:" %>
    <%= f.cktext_area :desc, label: "Описание" %>
    <%= f.input :file, label: "Фаел:" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Сохранить публикацию'%>
  </div>
<% end %>
