<div>
  <div>

    <div>
      <div>
        <h3>Вырежьте часть при необходимости:</h3>
      </div>
      <div>
        <%= image_tag @library.cover_url , id: "cropbox" %>
        <br>
        <%= simple_form_for(@library) do |f| %>
          <% %w[x y w h].each do |attribute| %>
            <%= f.text_field  "crop_#{attribute}", type: :hidden%>
          <% end %>
          <div>
            <%= f.button :submit, 'Сохранить' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div>
    <div>
      <div>
        <h3>Предпросмотр:</h3>
      </div>
      <div  >
        <div id="previewPic" class="librarypic" style="overflow:hidden">
          <%= image_tag @library.cover.url , id: "prev" %>
        </div>
      </div>
    </div>
  </div>
</div>

