<p id="notice"><%= notice %></p>

<h1>Библиотека</h1>
 
    <% @libraries.each do |library| %>
      <div>
        <div><%= image_tag(library.cover.thumb.url) %></div>
        <div><%= library.name %></div>
        
        <div><%= library.desc.html_safe %></div>
        <div><%= library.file %></div>
        <div><%= link_to 'Show', library %></div>
        <div><%= link_to 'Edit', edit_library_path(library) %></div>
        <div><%= link_to 'Destroy', library, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div>
    <% end %>
 
<br>
<%= link_to 'Новая публикация', new_library_path %>
