<%= simple_form_for(@news) do |f| %>
  <%= f.error_notification %>

  <% if @news.newspic? %>
    <div  style="background-image: url('<%= @news.newspic.thumb.url %>');" class="newspic"></div>
  <% end %>
  <div><span  class="adminzone"> 
    <%# unless @news.newspic? %>
      <%#= f.file_field :newspic, :class => "button" %>
    <%# end %><!-- <span class="tinytext">(при необходимости)</span> </span> -->
     
       <h5 style="text-align: center;">Макет новости:</h5>
     
   
    <div class="newscke">
        <div class="newswind">
           <%= f.cktext_area :desc %>
        </div>
      
    </div>
   
  </div>

  <div>
    <%= f.submit "Сохранить",  :class => "button"%>
  </div>
<% end %>
