<h4>Контакты</h4>
<% @contacts.each do |contact| %>
<div class="contacts" style="padding-bottom: 1em;">
  <div class="map">
    <%= contact.map.html_safe %>
  </div>

  <div class="contactInfo " >
    <div>
      <div>
        <h3>Психологический центр &laquo;Импульc&raquo; </h3>
        <p>( Психологическая помощь взрослым и детям )</p>
      </div>      
    </div>

    <div class="contactInfobd">
      <div>
        <%= contact.adress %>
      </div>
   
    </div>

    <div class="infoLast">
      <div>
        Тел: <%= contact.tel %>
      </div>
      <div>
        Е-майл: <%= contact.mail %>
      </div>
    </div>
  </div>
  
</div>
<% if current_user.try(:admin?) %>
<div>
  <%= link_to 'Редактировать', edit_contact_path(contact), class: "button is-info is-outlined" %>
</div>
<% end %>

<% end %>
<div id="feedback"></div>