<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @player.team_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Graph:</strong>
  <%= @player.graph %>
</p>

<p>
  <strong>Group:</strong>
  <%= @player.group %>
</p>

<p>
  <strong>Ind:</strong>
  <%= @player.ind %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
