<p id="notice"><%= notice %></p>

<h2>Письма пользователей:</h2>

<table>
  <thead>
    <tr>
      <th>Имя</th>
      <th>Контакт</th>
      <th>Сообщение</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @feedbacks.each do |feedback| %>
      <tr data-item_id="<%= feedback.id %>">
        <td><%= feedback.name %></td>
        <td><%= feedback.contact %></td>
        <td><%= feedback.message %></td>
       <!--  <td><%#= link_to 'Show', feedback %></td> -->
       <!--  <td><%#= link_to 'Edit', edit_feedback_path(feedback) %></td> -->
        <td><span class="deleteAction">Удалить</span></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Feedback', new_feedback_path %>
