<!DOCTYPE html> 
<html lang="ru">
  <head>
    <title>Impulse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag    'application'%>
    <% if user_signed_in? %>
      <%= javascript_include_tag    'forsignedusersapp'  %>  
    <% end %>
    <%= javascript_include_tag    'application'  %>  
    <%= javascript_pack_tag    'application' %>   
    <%= javascript_pack_tag 'hello_erb' %>
      <%= stylesheet_pack_tag 'hello_vue' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class="body">
    <div class="maincontent">
      <% if user_signed_in? %>
        <%= link_to current_user.email, edit_user_registration_path %>&nbsp;&nbsp;&nbsp;
        <%= link_to "Выйти", destroy_user_session_path, method: :delete %>
      <% end %>
      <div id="head" class="head"></div> 
      <% if current_user.try(:admin?) %>
      <div id="mainmenu"></div>
      <% end %>
      <div id="main" >
        <%= yield %>
      </div>
      <div class="ckestyle" hidden>
        <%= asset_pack_path 'application.css' %>
      </div>      
    </div>
  </body>
  <%= javascript_pack_tag 'hello_vue' %>
  <%= javascript_pack_tag 'anotherscripts' %>
</html>
