<!DOCTYPE html> 
<html lang="ru">
  <head>
    <title>Импульс — психологический центр г.Верхняя пышма</title>
 
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag    'application'%>
    <% if current_user.try(:admin?) %>
      <%= javascript_include_tag    'forsignedusersapp'  %>  
    <% end %>
    <%= javascript_include_tag    'application'  %>  
    <%= javascript_pack_tag    'application' %>   
    <%= javascript_pack_tag 'hello_erb' %>
      <%= stylesheet_pack_tag 'hello_vue' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class="body">
    <div id="bg">
      
  
    <div class="maincontent">
     <div class="railsblock">
        <% if user_signed_in? %>
            <%# if current_user.try(:admin?) %>
             <!--  <a href ="/resizeimages" onclick="window.open(this.href, '', 'scrollbars=1,height='+Math.min(800, screen.availHeight)+',width='+Math.min(800, screen.availWidth)); return false;">обрезать картинку</a>&nbsp;&nbsp; -->
            <%# end %>
            <%= link_to current_user.email, edit_user_registration_path %>&nbsp;&nbsp;&nbsp;
            <%= link_to "Выйти", destroy_user_session_path, method: :delete %>
            <% else %>
             <%= link_to "Войти", new_user_session_path %>
        <% end %>
      </div>
      <div id="head" class="head"></div>  
      <%# if current_user.try(:admin?) %>
      <div id="mainmenu"></div>
      <%# end %>
      <div id="main" >
        <%= yield %>

      </div>
      <div id="footer"></div>
      <div class="ckestyle" hidden>
        <%= asset_pack_path 'application.css' %>
      </div>      
    </div>
  </div>
  </body>

  <%= javascript_pack_tag 'anotherscripts' %>  <%= javascript_pack_tag 'hello_vue' %>
</html>
